/* .highscore {
    font-size: 15px;
} */

.time-left {
    float: right;
    font-size: 15px;
}

.row {
    width: 99%;
}

.questions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: bisque;
}

/* .answers {
} */